<a href="https://colab.research.google.com/github/sayed-Gomaa/BIG-MART-SALES-PREDICTION/blob/main/BIG_MART_SALES_PREDICTION__multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multiple Linear Regression

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
X_TR = pd.read_csv('Train.csv')
X_TE = pd.read_csv('Test.csv')
y_column=pd.read_csv('Submission.csv')

In [3]:
y_column=y_column.iloc[:,-1]
X_TE["Item_Outlet_Sales"]=y_column
X_TE=X_TE.dropna()
X_TR=X_TR.dropna()
print(X_TE)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDW58       20.750  ...  Supermarket Type1        1636.244023
5              FDH56        9.800  ...  Supermarket Type1        1853.228827
6              FDL48       19.350  ...  Supermarket Type2         733.598282
13             FDU11        4.785  ...  Supermarket Type1        2041.953121
14             DRL59       16.750  ...  Supermarket Type1         867.471557
...              ...          ...  ...                ...                ...
5673           FDF46        7.070  ...  Supermarket Type2        1623.910521
5674           DRL35       15.700  ...  Supermarket Type1         755.436127
5675           FDW46       13.000  ...  Supermarket Type1        1081.343324
5676           FDB58       10.500  ...  Supermarket Type1        2125.984810
5677           FDD47        7.600  ...  Supermarket Type2        2602.671833

[3099 rows x 12 columns]

# takeCare of missing data

In [4]:
X_TR=X_TR.drop('Item_Identifier',axis=1)
X_TE=X_TE.drop('Item_Identifier',axis=1)

# oneHot encoding for catogorical data

In [5]:
#categorical data
categorical_cols = ['Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size','Outlet_Location_Type'
,'Outlet_Type'] 
#import pandas as pd
X_TR = pd.get_dummies(X_TR, columns = categorical_cols)
X_TE = pd.get_dummies(X_TE, columns = categorical_cols)

In [13]:
print(X_TR)
print(X_TE.loc[:,'Item_Outlet_Sales'])

      Item_Weight  ...  Outlet_Type_Supermarket Type2
0           9.300  ...                              0
1           5.920  ...                              1
2          17.500  ...                              0
4           8.930  ...                              0
5          10.395  ...                              1
...           ...  ...                            ...
8517       20.750  ...                              0
8518        6.865  ...                              0
8520       10.600  ...                              0
8521        7.210  ...                              1
8522       14.800  ...                              0

[4650 rows x 39 columns]
0       1636.244023
5       1853.228827
6        733.598282
13      2041.953121
14       867.471557
           ...
5673    1623.910521
5674     755.436127
5675    1081.343324
5676    2125.984810
5677    2602.671833
Name: Item_Outlet_Sales, Length: 3099, dtype: float64

## Splitting the dataset into the Training set and Test set

In [8]:
X_train, X_test =X_TR.iloc[:,:],X_TE.iloc[:,:]
y_train,y_test=X_TR.loc[:,"Item_Outlet_Sales"],X_TE.loc[:,"Item_Outlet_Sales"]
X_train=X_train.drop('Item_Outlet_Sales',axis=1)
X_test=X_test.drop('Item_Outlet_Sales',axis=1)
print(X_test)
#print(y_test)

      Item_Weight  ...  Outlet_Type_Supermarket Type2
0          20.750  ...                              0
5           9.800  ...                              0
6          19.350  ...                              1
13          4.785  ...                              0
14         16.750  ...                              0
...           ...  ...                            ...
5673        7.070  ...                              1
5674       15.700  ...                              0
5675       13.000  ...                              0
5676       10.500  ...                              0
5677        7.600  ...                              1

[3099 rows x 38 columns]

## Training the Multiple Linear Regression model on the Training set

In [9]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Predicting the Test set results

In [10]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(y_pred)
print(y_test)

[1816.28 1875.22  515.45 ... 1123.12 2315.5  2515.44]
0       1636.244023
5       1853.228827
6        733.598282
13      2041.953121
14       867.471557
           ...
5673    1623.910521
5674     755.436127
5675    1081.343324
5676    2125.984810
5677    2602.671833
Name: Item_Outlet_Sales, Length: 3099, dtype: float64

## Evaluating the Model Performance

In [11]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9785783879311727